# Install nix-direnv which provides significantly faster Nix integration
if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
fi

# Apply the devShell configured in flake.nix
use flake

# this line sources your `.envrc.local` file
source_env_if_exists .envrc.local
